[Unit]
Description=Weasley Servo Service
After=network-online.target
 
[Service]
ExecStart=/usr/bin/python /home/pi/weasley/WeasleyControl.py
StandardOutput=syslog
Restart=always

[Install]
WantedBy=multi-user.target
Alias=weasley_servo.service
